fastapi==0.136.3
uvicorn==0.48.0

SQLAlchemy==2.0.50
psycopg2-binary==2.9.12

redis==7.4.0
celery

pydantic==2.13.4
pydantic-settings

streamlit
pandas
requests
streamlit-autorefresh

prometheus-client

locust
gevent